doctype html
html
  head
    link(href="/css/style.css" rel="stylesheet" type="text/css")
    //- script(src="/js/vendor.js")
    
    script(src="/socket.io/socket.io.js")
    script(src="/common/js/cp.js")
  body
    button(onClick="red();") red
    button(onClick="blue();") blue
    button(onClick="green();") green
