doctype html
html
  head
    //- link(href="/css/style.css" rel="stylesheet" type="text/css")
    //- script(src="/js/vendor.js")
    
    script(async src="/socket.io/socket.io.js")
    script(async src="/common/js/sound.js")
  body(style="min-height: 100vh;")